<!--get access to header file-->
<% include ../partials/header %>

<% res1.forEach(function(games) { %>

<div class="item">
  <div class="item">
    <h1 class="itemtitle">Name: <%= games.Name%></h1>
    <img src="/<%= games.Image %>" class="pimage"></img>
    <h1 class="itemp">Genre: <%= games.Genre%></h1>
    <h1 class="itemp">Type: <%= games.Type%></h1>
    <h1 class="itemp">ControllerSupport: <%= games.ControllerSupport%></h1>
    <h1 class="itemp">SteamAchivments: <%= games.SteamAchivments%></h1>
    <h1 class="itemp">MetacriticScore: <%= games.MetacriticScore%></h1>
    <h1 class="itemp">Description: <%= games.Description%></h1>
    <h1 class="itemp">Price: <%= games.Price%>€</h1>
    <a href="/games" class="button_default">Back</a>
    <!-- Paypal cart -->
    <form target="_self" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
      <!-- Identify your business so that you can collect the payments. -->
      <input type="hidden" name="business" value="testseller@seller.ie">
      <!-- Specify a PayPal Shopping Cart Add to Cart button. -->
      <input type="hidden" name="cmd" value="_cart">
      <input type="hidden" name="add" value="1">
      <!-- Specify details about the item that buyers will purchase. -->
      <input type="hidden" name="item_name" value="<%= games.Name%>">
      <input type="hidden" name="amount" value="<%= games.Price%>">
      <input type="hidden" name="currency_code" value="EUR">
      <!-- Display the payment button. -->
      <input type="image" name="submit"
        src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
        alt="Add to Cart">
      <img alt="" width="1" height="1"
        src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
    </form>
  </div>
</div><br><br><br><br><br><br>

<% }); %>

<!--get access to footer file-->
<% include ../partials/footer %>
